@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

.caption{
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
    letter-spacing: -0.24px;
}

h1{
    font-family: 'Manrope';
}

h2{
    /* h3/Bold */
    font-family: 'Manrope';
}

h3{
    /* h3/Bold */
    font-family: 'Manrope';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
}

p{
    font-family: 'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: -0.32px;
}

a{
    font-family: 'Manrope';
}

@media screen and (max-width: 600px){
    h3{
        font-size: 12px;
        line-height: 14px
    }
}