<img src="src/corner/ldw.svg" alt="left down white corner">

<div class="footerb">
    <!--Left-->
    <span>
        <p class="caption black200">© 2023 Joll4All</p>
        <p class="caption black200">·</p>
    </span>

    <span>
        <!--Language button-->
        <button class="ghost" id="lang">
            <img src="src/icon/globe.svg" alt="globus icon">
            <p class="caption black200">Язык</p>

        </button>
        
        <!--Theme button-->
        <button class="ghost" id="theme">
            <img src="src/icon/theme.svg" alt="theme icon">
            <p class="caption black200">Темная тема</p>
        </button>
    </span>
</div>

<img src="src/corner/rdw.svg" alt="left down white corner">
